<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>

<div class="wrapper">

    <div class="gridWrapper>
        <div class="grid"/>
    </div>

    <div class="contentWrapper">
      <div class="form">  
          <fieldset>
              <span class="lyricsLabel">Type some lyrics:</span>
              <input class="lyricsTextBox"/>
              <button class="submitButton"/>
          </fieldset>
      </div>
    </div>

</div>
