<div class="wrapper">

  <div class="gridWrapper>
    <div class="grid"/>
  </div>

  <div class="contentWrapper">
    <div class="form">  
      <fieldset id="inputArea">
        <span id="lyricsLabel" class="lyricsLabel">Just give me one good line:</span>
        <input id="lyricsTextBox" class="lyricsTextBox"/>
        <button id="submitButton" class="submitButton">Make it rock</button>
        <div id="chatBox" class="chatBox"></div>
        <div id="lyricsResult" class="lyricsResult"></div>
      </fieldset>
    </div>
  </div>

</div>
