<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jon_bon.css">
    <script src="/js/dependencies/abcjs_plugin_latest-min.js"></script>
  </head>

  <body>
    <div class="wrapper">

      <div class="gridWrapper" style="background-color: white;">
        <%= body %>
      </div>

    </div>
  </body>
</html>
